.bill-detail-page {

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__head-left {

  }

  &__title {
    margin-bottom: 30px;
    color: $black;
  }

  &__bill-number {
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: $black;
  }

  &__head-right {
    text-align: right;
  }

  &__btn {
    margin-bottom: 33px;
    position: relative;
    background-color: $primary;
    color: $white;
    border: none;
    padding-left: 50px;
  }

  &__btn-icon::before {
    content: "\e900";
    position: absolute;
    left: 20px;
    top: 46%;
    font-family: 'icomoon' !important;
    transform: rotate(90deg) translateX(-50%);
  }

  &__total-container {

  }

  &__total-title {
    margin-right: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: $black;
  }

  &__total {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: $black;
  }


  &__main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .form-transaction {
    margin-right: 15px;
    margin-bottom: 50px;
  }

  .graph {
    min-width: 650px;
    @include adaptiv-value(width, 30%, 1%, 1);
    margin-bottom: 50px;
    @media(max-width: 1342px) {
      width: 100%;
    }
  }

  @media(max-width: 996px) {
    &__title {
      font-size: 25px;
      margin-bottom: 15px;
    }

    &__bill-number {
      font-size: 25px;
    }

    &__btn {
      margin-bottom: 20px;
    }
  }

  @media(max-width: 768px) {
    &__btn {
      display: none;
    }

    &__head {
      flex-wrap: wrap;
    }

    &__head-left {
      margin-bottom: 15px;
    }

    &__head-right {
      flex-basis: 100%;
      text-align: left;
    }

    .graph {
      min-width: none;
    }
  }
}
