$maxWidthContainer: 1430px;

// brand colors
$primary: #116ACC;

$secondary_1: #182233;
$secondary_2: #B3CEE2;
$secondary_3: #D9DDE7;
$secondary_4: #FD4E5D;

// Gray colors
$black: #000000;

$gray_1: #1F2937;
$gray_2: #374151;
$gray_3: #4B5563;
$gray_4: #6B7280;
$gray_5: #9CA3AF;
$gray_6: #D1D5DB;
$gray_7: #F3F4F6;

$white: #FFFFFF;

// State colors
$info: #A0C3FF;
$success: #76CA66;
$warning: #FBC756;
$error: #BA0000;
