@import './optimize.scss';

$maxWidthContainer: 1430px;

// brand colors
$primary: #116ACC;

$secondary_1: #182233;
$secondary_2: #B3CEE2;
$secondary_3: #D9DDE7;
$secondary_4: #FD4E5D;

// Gray colors
$black: #000000;

$gray_1: #1F2937;
$gray_2: #374151;
$gray_3: #4B5563;
$gray_4: #6B7280;
$gray_5: #9CA3AF;
$gray_6: #D1D5DB;
$gray_7: #F3F4F6;

$white: #FFFFFF;

// State colors
$info: #A0C3FF;
$success: #76CA66;
$warning: #FBC756;
$error: #BA0000;


* {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  max-width: $primary;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  @media(max-width: 768px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.btn {
  height: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 7px;
  padding-left: 24px;
  padding-right: 24px;
  overflow: hidden;
  z-index: 1;
  @media(max-width: 1200px) {
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &--outline {
    position: relative;
    @media(hover:hover) {
      &:hover:not(:active) {
        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), $primary;
        }
      }
    }
    &:active {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), $primary;
    }

    &:disabled {
      border-color: $gray_5;
      color: $gray_5;
    }

  }

  &--normal {
    @media(hover:hover) {
      &:hover:not(:active) {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), $primary;
      }
    }

    &:active {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), $primary;
    }

    &:disabled {
      background: $gray_5;
    }
  }
}

.form {

  &__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: $black;
  }

  &__lable {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $black;
  }

  &__input {
    width: 100%;
    max-width: 300px;
    height: 44px;
    border-radius: 7px;
    border: 1px solid $gray_5;
    padding: 10px 16px 10px;
    color: $gray_2;
    letter-spacing: -0.01em;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    &::placeholder {
      color: $gray_4;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
}


@import './header/header.scss';

// mainPage

.section-bills {

  &__container {
  }
}

.form-bills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  &__container {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-right: 35px;
  }

  &__btn {
    position: relative;
    padding-left: 55px;
    background-color: $primary;
    border: none;
    color: $white;
  }

  &__btn-icon::before {
    position: absolute;
    left: 20px;
    top: 45%;
    transform: rotate(45deg) translateY(-50%);
    font-size: 14px;
  }
}
.select {
}

.btn--normal {
}
.icon-close {
}
.grid-card-bills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: space-between;
  gap: 50px 70px;
  &__card {
  }
}
.bills-card {
  // max-width: 400px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  background-color: $white;
  padding: 22px;

  &__title {
    margin-bottom: 9px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $secondary_1;
  }

  &__subtitle {
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $secondary_1;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__footer-title {
    align-self: flex-end;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: $black;
  }

  &__footer-subtitle {
    display: block;
    font-weight: 400;
  }

  &__btn {
    background-color: $primary;
    border: none;
    color: $white;
  }
}




// choices
.choices {
  width: 300px;

  &__inner {
    height: 44px;
    border-radius: 7px;
    padding-left: 16px;
  }

  &__item {
    position: relative;
  }

  &[data-type*=select-one]::after {
    right: 20px;
  }

  &__list--dropdown {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px !important;
    top: 105% !important;
  }

  &__item--choice {
    &:first-child {
      display: none;
    }
  }
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  z-index: 5;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $gray_2;
}

.is-open .choices__inner {
  border-radius: 7px !important;
}

.is-selected::before {
    content: url('./icons/success.svg');
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.is-highlighted {
  background-color: #A0C3FF !important;
}

@media(min-width: 640px) {
  .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 40px;
  }
}
// /////
