@import '../base-scss/variables.scss';

.header {
  position: relative;
  background-color: $primary;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 44px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-link {
    margin-right: 25px;
    max-width: 200px;
    max-height: 50px;
  }
}
.nav {
  &__btn-group {
    display: flex;
    flex-wrap: wrap;
    @media(max-width: 768px) {
      position: absolute;
      left: 0;
      top: 100%;
      flex-direction: column;
      width: 100%;
      background-color: $primary;
      transform: translateX(-100%);
      opacity: .5;
      transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    }
  }

  &__btn {
    &:not(:last-child) {
      margin-right: 25px;
      @media(max-width: 1200px) {
        margin-right: 15px;
      }
      @media(max-width: 768px) {
        margin-right: 0;
      }
    }
    border: 2px solid $primary;
    color: $primary;
    background-color: $white;
    border: 2px solid $primary;
  }

  &__burger {
    display: none;
    @media(max-width: 768px) {
      display: block;
      &.active + .nav__btn-group {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}


.burger-menu {
  background-color: transparent;
  border: none;
  outline: none;

  &__line {
    display: block;
    width: 40px;
    height: 3px;
    background-color: #ecf0f1;
    margin-block: 10px;
    border-radius: 4px;
    transition: transform .5s, opacity .25s;
  }

  &.active .burger-menu__line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
  }
  &.active .burger-menu__line:nth-child(2) {
    opacity: 0;
  }
  &.active .burger-menu__line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
  }
}

// 320, 768 Ð¸ 1200



// auth


