.loader__header {
  margin-bottom: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  height: 100px;

  &-logo {
    display: block;
    width: 100px;
    height: 50px;
    background-color: $white;
    border-radius: 7px;
  }

  &-buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    @media(max-width: 768px) {
      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 0px;
        width: 50px;
        height: 3px;
        background-color: $white;
      }
      &::before {
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }
  }

  &-btn {
    width: 100px;
    height: 40px;
    background-color: $white;
    border-radius: 7px;
    &:not(:last-child) {
      margin-right: 15px;
    }
    @media(max-width: 768px) {
      display: none;
    }
  }
}

.loader-skeleton {
  position: absolute;
  top: 190px;
  @media(max-width: 500px) {
    top: 160px;
  }
  z-index: 9;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;

  &__auth-container {
    position: relative;
    background: #F3F4F6;
    background: linear-gradient(179.67deg, #F3F4F6 13.59%, #F3F4F6 18.57%, #116ACC 143.31%);
    animation: background 2s infinite alternate;
    border-radius: 50px;
    max-width: 500px;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 20px;
      background-color: $white;
      border-radius: 7px;
      opacity: .5;
    }

    &::after {
      content: "";
      width: 90%;
      height: 50px;
      background-color: $white;
      border-radius: 7px;
      opacity: .5;
    }
  }

  &__auth {
    margin-top: 60px;
    width: 90%;
    height: 50px;
    background-color: $white;
    border-radius: 7px;
    margin-bottom: 25px;
    opacity: .5;

    &::after {
      content: "";
      position: absolute;
      bottom: 50px;
      width: 100px;
      height: 50px;
      background-color: $white;
      border-radius: 7px;
      opacity: .5;
    }
  }
}

.bills-page-skeleton-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(119.67deg, #F3F4F6 1%, #F3F4F6 18.57%, #116ACC 500%);
  animation: background 2s infinite alternate;
  z-index: 9;

  &__main-form {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

  }

  &__main-title,
  &__main-input,
  &__main-btn {
    display: block;
    background-color: $white;
    border-radius: 7px;
  }

  &__main-title {
    width: 200px;
    height: 30px;
    margin-right: 25px;
  }

  &__main-input {
    width: 300px;
    height: 40px;
    margin-right: auto;
    @media(max-width: 600px) {
      display: none;
    }
  }

  &__main-btn {
    margin-left: 15px;
    width: 200px;
    height: 45px;
  }

  &__main-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
    gap: 50px 70px;

    @media(max-width: 1200px) {
      gap: 25px;
    }
  }

  &__main-card {
    max-width: 500px;
    height: 156px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    background-color: $white;
    padding: 22px;
    @media(max-width: 1200px) {
      max-width: none;
    }
  }

  @media(max-width: 870px) {
    &__main-form {
      flex-wrap: wrap;
      align-items: end;
    }
    &__main-title {
      margin-right: 50px;
      margin-bottom: 15px;
    }
    &__main-btn {
      width: 300px;
      margin-left: 0;
    }
    &__main-input {
      position: relative;
      width: 230px;
      bottom: -40px;
      margin-left: auto;
      margin-right: 0;
    }
  }

}

.bil-deteil-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: linear-gradient(119.67deg, #F3F4F6 1%, #F3F4F6 18.57%, #116ACC 500%);
  animation: background 2s infinite alternate;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 115px;
  }

  &__top-left,
  &__top-right,
  &__top-left::before,
  &__top-right::before {
    display: block;
    border-radius: 7px;
    background-color: $white;
  }

  &__top-left {
    position: relative;
    width: 250px;
    height: 30px;
  }

  &__top-right {
    position: relative;
    width: 200px;
    height: 35px;
  }

  &__top-left::before,
  &__top-right::before {
    content: "";
    width: 500px;
    height: 30px;
    position: absolute;
    bottom: -65px;
  }

  &__top-right::before {
    width: 200px;
  }

  &__main {
    display: grid;
    grid-template-columns: autofit(minmax(200px, 1fr));
    gap: 30px;
  }

  &__main-1,
  &__main-2,
  &__main-3 {
    display: block;
    border-radius: 7px;
    width: 300px;
    height: 100px;
    background-color: $white;
  }

  &__main-1 {
    width: 600px;
    height: 300px;
  }

  &__main-2 {
    width: 650px;
    height: 300px;
  }

  &__main-3 {
    width: 100%;
    height: 400px;
  }

  @media(max-width: 996px) {
    &__top-right {
      display: none;
    }

    &__top-left::before {
      width: 290px;
    }

    &__main-1,
    &__main-2,
    &__main-3 {
      width: 100%;
    }
  }
}

.bil-history  {
  .bil-deteil-loader__main {
    display: block;
  }

  .bil-deteil-loader__main-1,
  .bil-deteil-loader__main-2,
  .bil-deteil-loader__main-3 {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
  }
}

.currency-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(119.67deg, #F3F4F6 1%, #F3F4F6 18.57%, #116ACC 500%);
  animation: background 2s infinite alternate;
  z-index: 9;

  &::before {
    content: "";
    position: absolute;
    top: 150px;
    border-radius: 7px;
    background-color: $white;
    width: 300px;
    height: 30px;
  }

  &__block-1,
  &__block-2,
  &__block-3 {
    margin-top: 100px;
    display: block;
    position: absolute;
    border-radius: 40px;
    background-color: $white;
  }
  &__block-1 {
    left: 50px;
    width: 40%;
    height: 850px;
  }
  &__block-2 {
    right: 50px;
    width: 50%;
    height: 1150px;
  }
  &__block-3 {
    top: 1050px;
    width: 40%;
    height: 250px;
  }

  @media(max-width: 1200px) {
    &__block-1 {
      height: 650px;
    }
    &__block-2 {
      width: 45%;
      height: 250px;
    }
    &__block-3 {
      top: 850px;
      width: 90%;
      height: 500px;
    }
  }

  @media(max-width: 996px) {
    &__block-1,
    &__block-2,
    &__block-3 {
      width: 100%;
      position: static;
      margin-top: 0;
      margin-bottom: 35px;
    }

    &__block-1 {
      margin-top: 150px;
      height: 300px;
      width: 100%;
    }

    &__block-2 {
      height: 500px;
    }
  }
}

@keyframes background {
  100% {
    background-position: -100px 1000px;
  }
}


@keyframes load {
	from {
		left: -150px;
	} to {
		left: 100%;
	}
}
