.table {
  background-color: $gray_7;
  padding: 40px;
  border-radius: 56px;
  width: 100%;

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
    margin-bottom: 25px;
  }

  table {
    width: 100%;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    border-radius: 20px;
    color: $gray_2;
  }
  tr:not(:first-child) {
    border-bottom: 2px solid rgba(0, 82, 255, 0.1);
  }
  th {
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 21px;
    padding-bottom: 21px;
    background: $primary;
    color: $white;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.01em;
  }
  table th:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  table th:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  td {
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 21px;
    padding-bottom: 21px;
    min-width: 10px;
    background: $gray_7;
  }

  @media(max-width: 996px) {
    padding: 35px 30px;

    th {
      font-size: 14px;
      padding-left: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    td {
      font-size: 10px;
      padding-left: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  @media(max-width: 640px) {
    background-color: $white;
    padding: 0;

    tr:first-child {
      border-bottom: 2px solid rgba(0, 82, 255, 0.1);
    }

    th {
      font-size: 10px;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      background: transparent;
      color: $black;
      font-weight: 700;
    }

    td {
      font-size: 6px;
      background: transparent;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

}


